body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    button {
        display: block;
        width: 48%;
        margin-bottom: 10px;
    }
     button:last-child {
        margin-left: 4%; /* Adjusted margin between buttons for mobile screens */
    }
    }
